certifi==2022.12.7
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.4
pandas==0.23.0
PyMySQL==0.8.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
pyyaml>=4.2b1
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.2.8
tqdm==4.19.5
